<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Google Search Engine -->
    <add key="Google.Uri" value="https://www.googleapis.com/customsearch/v1?key={API_KEY}&amp;cx={SEARCH_ENGINE_ID}&amp;q={QUERY}" />
    <add key="Google.ApiKey" value="GOOGLE_API_KEY" />
    <add key="Google.SearchEngineID" value="GOOGLE_SEARCH_ENGINE_ID" />
    <!-- Bing Search Engine -->
    <add key="Bing.Uri" value="https://api.cognitive.microsoft.com/bing/v7.0/search?q={QUERY}" />
    <add key="Bing.ApiKey" value="BING_API_KEY" />
  </appSettings>
</configuration>